.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avator {
  width: 70px;
  height: 70px;
  border-radius: 28px;
  margin-right: 20px;
  margin: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 5px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
